.App {
  text-align: center;
}
.carousel {
  display: flex;
  /* width: 840px; */
  flex-wrap: nowrap;
  overflow: auto;
}
.search {
  size: 50px
}
@media only screen and (max-width: 425px) {
  .search {
    display: none;
  }
  
}